/*do logowania i rejestracji*/
.baner {
    background-color: #1B232B;
    color: white;
    padding: 20px;
    a{
        color: white;
        text-decoration: none;
    }
    p{
    text-align: center;
    font-size: 90px;
    }
    i{
        font-size: 60px;
    }
}

.loginRegister {
    background-color: #DDE5F4;
    padding: 20px;
    p{
        text-align: center;
    }

}

.fieldsLoginRegister {
    margin: 10px;
    display: flex;
    justify-content: center;
    *{
        margin: 10px;
    }

    input, select{
        box-sizing: border-box;
        background-color: #B1C4D8;
        width: 100%;
        padding: 10px;
        border-width: 2px;
    }

    #showPasswd{
        margin: 20px;
        width: 10px;
        transform: scale(3);
    }
    .submitButton {
        background-color: #1B232B;
        color: white;
        padding: 20px;
    }
}


/* do dodaj og�oszenie*/

.CreateModifyAdd {
    background-color: #DDE5F4;
    padding: 20px;
    p{
        text-align: center;
    }
}

.fieldsCreateModifyAdd {
    margin: 10px;
    display: flex;
    justify-content: center;
    *{
        margin: 10px;
    }

    form{
        background-color: #B1C4D8;
        padding: 40px;
    }

    input, select, textarea{
        box-sizing: border-box;
        background-color: white;
        width: 100%;
        padding: 10px;
        border-width: 2px;
    }

    .pForm{
        font-size: 40px;
        margin: 20px;
        margin-top: 40px;
    }



    .inputGrow{
        field-sizing: content;
        max-inline-size: 25ch;
        min-block-size: 1.5lh;
    }



    #pricecheckbox{
        margin: 20px;
        width: 10px;
        transform: scale(3);
    }
    .submitButton {
        background-color: #1B232B;
        color: white;
        padding: 20px;
    }
}


/*do podglądu profilu */

.profileDataContainer
{
    background-color: #DDE5F4;
    width: 100%;
    height: fit-content;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 110px;
}

.profileTitle
{
    margin-top:  40px;
    margin-bottom: 40px;
    text-align: center;
}

.profileData
{
    min-height: 80%;
    width: 35%;
    background-color: #B1C4D8;
    padding-bottom: 60px;
}

.logout
{
    width: 100%;
    text-align: right;

}

.logout a
{
    color: black;
}

.profile
{
    margin-left: 4%;
}

.profile br
{
    margin-bottom: 8px;
}

.profileBaner
{
    background-color: #668EAB;
    width: 100%;
    height: 159px;
    padding-top: 53px;
    color: white;
    min-height: fit-content;
    font-size: 64px;
    text-indent: 5%;
}

.adsTypeBaner
{
    background-color: #DDE5F4;
    width: 100%;
    height: 159px;
    padding-top: 53px;
    color: white;
    min-height: fit-content;
    font-size: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.adsTypeLinks
{
    margin-left: 5%;
}

.adsLinkActive
{
    text-decoration: solid;
}

.adsTypeLinks a
{
    color: black;
    font-size: 40px;
    margin-left: 30px;
    text-decoration: none;
}

.adsTypeEmpty
{
    background-color: #DDE5F4;
    width: 100%;
    padding-top: 53px;
    color:black;
    min-height: fit-content;
    font-size: 64px;
    text-indent: 5%;
}





@media screen and (max-width: 1050px) {

    .profileData
    {
        width: 98%;
    }

    .adsTypeLinks
    {
        margin-left: 0%;
        text-align: center;
    }

    .adsTypeLinks a
    {
        margin-left: 0px;
        margin-right: 20px;
        margin-bottom: 60px;
        font-size: 20px;
    }

    .adsTypeEmpty
    {
        text-indent: 0;
        font-size: 48px;
    }

}

