

@font-face{
    font-family: joseph;
    src:url(fonts/JosefinSans-VariableFont_wght.ttf);
}

*
{
    font-family: joseph;
    font-size: 24px;
}


body
{
    background-color: #B1C4D8;
    margin: 0px;
    padding: 0px;
}

#navbar
{
    background-color: #1B232B;
    width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#navbar a
{
    text-align: none;
    color: white;
    text-decoration: none;
}

#navbar-options
{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    margin-right: 5px;
    flex-grow:1
}

#navbar-space
{
    flex-grow:8;
}

#phone-navbar
{
    display: none;
}

#navbar2
{
    display:flex;
    flex-wrap: wrap;
    background-color: #1B232B;
    width: 100%;
    min-height: 80px;
    justify-content: space-between;
    align-items: center;
}

#navbar2 a
{
    text-align: none;
    color: white;
    text-decoration: none;
}

#hamburger
{
    width: fit-content;
    height: fit-content;
    padding-left: 20px;
    color: white;
    cursor: pointer;
}

#hamburger > .icon-menu
{
    font-size: 34px;
}

#phone-nav-ham
{
    display: none;
    flex-direction: column;
}

#ham-account
{
    padding-top: 10px;
    text-align: center;
    background-color: #2A3744;
    height: fit-content;
}

#ham-account a
{
    color: white;
}

#ham-ad
{
    padding-top: 10px;
    padding-bottom: 10px;
    height: fit-content;
    text-align: center;
    background-color: #2A3744;
}

#ham-ad a
{
    color: white;
}

.logo
{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    flex-grow: 1;
}

#account-link
{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    flex-grow: 1;
}

.action-button
{
    border: white solid 1px;
    border-radius: 5px;
    cursor:pointer;  
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.action-button:hover
{
    background-color:#2A3744;
}

#search-area
{
    min-height: 100px;
    background-color: #668EAB;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

#search-engine
{
    margin-top: 20px;
    margin-bottom: 30px;
    max-width: 60%;
}

#search-fields
{
    padding: 8px;
    background-color: #1B232B;
    border: white 1px solid;
    display: flex;
    flex-wrap: wrap;
}

.search-field
{
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 8px;
    margin-left: 4px;
    flex-grow: 1;
}

.search-field input
{
    border-radius: 5px;
    background-color: #B1C4D8;
    width: 98%;
}

.search-field select
{
    border-radius: 5px;
    background-color: #B1C4D8;
    width: 100%;
}

#search-accept
{
    display: flex;
    justify-content: center;
    background-color: #668EAB;
}

#search-button
{
    max-width: 366px;
    width: 98%;
    margin-top: 12px;
    margin-bottom: 12px;
}

#search-button button[type=submit]
{
    width: 100%;
    border: white solid 1px;
    color: white;
    background-color: #1B232B;
    border-radius: 5px;
    cursor:pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: fit-content; 
    overflow:hidden;
}

#search-button:hover
{
    background-color: pink;
}

#ads-content
{
    background-color: #DDE5F4;
    display:flex;
    justify-content: center;
}

#ads-content-container
{
    margin-top: 20px;
    width: 100%;
    max-width: 1014px;
    background-color: #DDE5F4;
}

#ads-number
{
   width: 100%;
   background-color: #DDE5F4;
   border-bottom: 1px solid #668EAB;
}

#ads
{
    width: 100%;
    background-color: #DDE5F4;
}

.ad
{
    background-color: #1B232B;
    color: white;
    border: 1px solid #668EAB;
    display: grid;
    margin-top: 10px;
    margin-bottom: 10px;
    grid-template-columns: 28% 54% 18%;
    grid-template-areas:
        "photo info price";
}

.ad-photo
{
    background-color: #34414F;
    display: flex;
    justify-content: center;
    align-content: center;
    grid-area: photo;
}

.ad-photo img
{
    max-width: 288px;
    max-height: 208px;
    width: 98%;
    height: 98%;
    margin: auto;
    aspect-ratio: 1.384615385;
}

.ad-info-area
{
    display: flex;
    flex-direction: column;
    padding-left: 8px;
    background-color: #1B232B;
    grid-area: info;
}

.ad-title
{
    font-size: 24px;
    height:30%;
    overflow:hidden;
}

.ad-version
{
    font-size: 20px;
    flex-grow: 1;
    max-height:35%;
    overflow:hidden;
}

.ad-location
{
    font-size: 16px;
    height:fit-content;
    overflow:hidden;
}

.ad-info
{
    font-size: 26px;
    height: fit-content;
    flex-grow: 1;
    overflow:hidden;
}

.ad-price-area
{
    background-color: #1B232B;
    grid-area: price;
    display: flex;
    flex-direction: column;
}

.ad-price-space1
{
    flex-grow: 1;
}

.ad-price
{

    font-size: 20px;
    background-color: #668EAB;
    flex-grow: 1;
    text-align: right;
}

.ad-price-space2
{
    flex-grow: 7;
}

.brutto
{
    font-size: 14px;
}

#pagination
{
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 10px;
    color: black;
    display: flex;
    justify-content: center;
}

#pagination a
{
    font-size: 10px;
    color: black;
    display: inline;
}

#pagination ul li
{
    display:inline;
}

.actualPage ul
{
    background-color: lightgreen;
}

#mini-pag-con
{
    display: flex;
    justify-content: center;
}

.mini-pagination
{
    min-height: fit-content;
    height: 60px;
    display: none;
    text-align:center;
    margin-top: 20px;
    margin-bottom: 40px;
    background-color: #668EAB;
    width: 90%;
    max-width: 575px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.mini-pagination:hover
{
    background-color: #4D697D;
    color: white;
    text-decoration: none;
}


.mini-pagination a
{
    width: 100%;
    height: 100%;
    vertical-align: middle;
    line-height: 60px;
    text-align: center;
    display: inline-block;
    color: white;
    text-decoration: none;
    overflow: hidden;
}

#footer
{
    background-color: #B1C4D8;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}

.footer-part
{
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.foter-part-containter
{

}

.footer-part-title
{
    font-weight: bold;
    font-size: 36px;
}

.footer-part-info
{
    line-height: 2;
}

#pagination a
{
    font-size: 30px;
}

.footer-phone
{
    font-size: 16px;
}

#adContainer
{
    padding-top: 40px;
    height: fit-content;
    width: 100%;
    background-color: #DDE5F4;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

#adInfo
{
    display: grid;
    grid-template-columns: 61% 36%;
    grid-template-rows: fit-content;
    column-gap: 3%;
    grid-template-areas: "carArea ownerArea";
    height: fit-content;
    max-width: 1654px;
    width: 92%;
}

#carArea
{
    height: fit-content;
    grid-area: carArea;
}

#adArea1
{
    color: white;
    width: 100%;
    height:fit-content;
    display: grid;
    grid-template-columns: 59% 41%;
    grid-template-rows: fit-content fit-content;
    grid-template-areas: "adNumber dataTitle"
                         "photoArea adDetails";
    
}

#adNumber
{
    font-size: 36px;
    background-color: #668EAB;
    border-bottom: 1px solid #B1C4D8;
    grid-area: adNumber;
}

#dataTitle
{
    border-left: 1px solid #B1C4D8;
    border-bottom: 1px solid #B1C4D8;
    text-indent: 2%;
    font-size: 36px;
    background-color: #668EAB;
    grid-area: dataTitle;
}

#photoArea
{
    background-color: #34414F;
    grid-area: photoArea;
    display: flex;
    justify-content: center;
    align-items: center;
}

#photoArea img
{
    width: 100%;
    aspect-ratio: 600/474;
    max-width: 600px;
}

#adDetails
{
    border-bottom: 1px #668EAB solid;
    font-size: 24px;
    background-color: #1B232B;
    grid-area: adDetails;
}


#adDetails p
{
    margin-left: 2%;
}

#adArea2
{
    display: grid;
    grid-template-columns: 59% 41%;
    grid-template-rows: fit-content;
    grid-template-areas: "priceArea alertArea";
}


#priceArea
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #1B232B;
    width: 100%;
    height: 100%;
    grid-area: priceArea;
}

#price
{
    color: white;
    padding-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 87%;
    font-size: 36px;
    min-height: fit-content;
    height: 60%;
    background-color: #668EAB;
}

#alertArea1
{
    padding-top: 20px;
    text-align: center;
    background-color: #1B232B;
    grid-area: alertArea;
    min-height: fit-content;
}

#alertArea1 a
{
    color: white;
}

#alertArea2
{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
}

#alertArea2 a
{
    color: white;
    text-decoration: none;
    width: 40%;
    height: fit-content;
    background-color: #34414F;
    display: block;
}

#alertButton
{
    font-size: 16px;
    overflow: hidden;
    border: 1px solid white;
    border-radius: 5px;
    width: 100%;
    height: fit-content;
    padding-top:20px;
    padding-bottom: 20px;
    background-color: #442828;
}

#alertButton:hover
{
    background-color: #8d1e1e;
}

#descriptionArea
{
    width: 100%;
    height: 450px;
    background-color: #1B232B;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#description
{
    padding: 10px;
    font-size: 32px;
    color: white;
    border: 1px solid #B1C4D8;
    background-color: #1B232B;
    width: 94%;
    height: 90%;
    overflow-y: scroll;
}

#ownerArea
{
    display: flex;
    flex-direction: column;
    grid-area: ownerArea;
}

#ownerTitle
{
    font-size: 36px;
    height: fit-content;
    background-color:#668EAB;
    color: white;
}

#ownerIcon
{
    width: 100%;
    height: 30%;
    background-color:#1B232B;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#ownerInfo
{
    text-align: left;
    min-height:51%;
    height: fit-content;
    color: white;
    background-color: #1B232B;
}

#ownerSpace
{
    background-color:#DDE5F4;
    flex-grow: 1;
}

#VINArea
{
    background-color:#1B232B;
    width: 100%;
    min-height: 11%;
    height: fit-content;
    display: flex;
    justify-content: right;
    align-content: center;
    align-items: center;
}

#VIN
{
    font-size: 30px;
    display: flex;
    justify-content: right;
    align-content: center;
    align-items: center;
    color: white;
    width: 90%;
    text-align: right;
    background-color: #668EAB;
    height: 70%;
}

#ownerInfo p
{
    margin-left: 4%;
    font-size: 32px;
}

#ownerIcon img
{
    max-width: 250px;
    width: 50%;
    aspect-ratio: 250/218;
}

#familliarContainer
{
    background-color: #DDE5F4;
    width: 100%;
    display: flex;
    justify-content: center;
}

#adsFam
{
    font-size: 36px;
}

#familliarAds
{
    max-width: 1654px;
    width: 92%;
}




@media screen and (max-width: 1050px) {

    #adInfo
    {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: fit-content fit-content;
        row-gap: 1%;
        grid-template-areas: "carArea"
                            "ownerArea";
    }

    #adArea1
    {
        width: 100%;
        height:fit-content;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: fit-content fit-content fit-content;
        grid-template-areas: "adNumber"
                             "dataTitle"
                             "adDetails";
    }

    #adArea2
    {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: fit-content fit-content;
        grid-template-areas: "priceArea"
                              "alertArea";
    }

    #price
    {
        padding-left: 0;
        width: 100%;
        min-height: fit-content;
        height: 100%;
    }

    #ownerIcon
    {
        display: none;
    }

    #VIN
    {
        width: 100%;
        height: 100%;
    }
}


@media screen and (max-width: 700px) {

    #navbar
    {
        display: none;
    }

    #phone-navbar
    {
        display: flex;
        flex-direction: column;
    }

}


@media screen and (max-width: 600px) {


    .ad
    {
        background-color: #1B232B;
        display: grid;
        margin-top: 20px;
        margin-bottom: 20px;
        grid-template-columns: 100%;
        grid-template-rows: 104px fit-content fit-content;
        grid-template-areas:
        "photo"
        "info"
        "price";
    }

    .ad-photo img
    {
        max-width: 144px;
        max-height: 104px;
        width: 98%;
        height: 98%;
        margin: auto;
        aspect-ratio: 1.384615385;
    }

    .ad-price
    {
       padding-left: 10px;
    }

    .ad-title
    {
        height:fit-content;
    }

    .ad-version
    {
        height: fit-content;
    }

    .ad-location
    {
        height: fit-content;
    }

    .ad-info
    {
        height: fit-content;
    }

    .ad-price-space1
    {
        display: none;
    }

    .ad-price
    {
        text-align: left;
    }

    .ad-price-space2
    {
        display: none;
    }

    #pagination
    {
        display: none;
    }

    .mini-pagination
    {
        display: block;
    }

    #footer
    {      
        display: none;
    }


}


@media screen and (max-width: 250px) {

    #adArea
    {
        width: 100%;
        aspect-ratio: 0.45;
        background-color: blue;
    }


}